[Unit]
Description=Framework Fan Controller
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 "%PYTHON_SCRIPT_INSTALLATION_PATH%" --output-format "JSON" run --config "%SYSCONF_DIRECTORY%/fw-fanctrl/config.json" --silent %NO_BATTERY_SENSOR_OPTION%
ExecStopPost=/bin/sh -c "ectool autofanctrl"
[Install]
WantedBy=multi-user.target
