[Unit]
Description=Framework Fan Controller sleep hook
Before=sleep.target
StopWhenUnneeded=yes
Requires=fw-fanctrl.service
After=fw-fanctrl.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart="%EXECUTABLE_INSTALLATION_PATH%" pause
ExecStop="%EXECUTABLE_INSTALLATION_PATH%" resume

[Install]
WantedBy=sleep.target
